<!-- Footer -->
<footer class="footer">
    <div class="container text-center"><p class="pull-left">© 2016 Company, Inc. All Rights Reserved</p>
        <ul class="pull-right list-inline">
            <li><a href="https://github.com">GitHub Project</a></li>
            <li><a href="https://github.com">Demo</a></li>
        </ul>
    </div>
</footer>

<!-- Script -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="javascripts/lib/bootstrap.min.js"></script>
<script src="javascripts/lib/ie10-viewport-bug-workaround.js"></script>