// Footer
footer.footer
    div.container.text-center
        p.pull-left © 2016 Company, Inc. All Rights Reserved

// Script
script(src='libs/jquery/dist/jquery.min.js')
script(src='libs/bootstrap/dist/js/bootstrap.min.js')
script(src='javascripts/lib/ie10-viewport-bug-workaround.js')

// JS
script(src='javascripts/app.js')
