doctype html
html
    head
        include head

    body
        include header

        .container
            .page-header
                h1 #{title}
                p Welcome to #{title}
            //include flash
            block content

        include footer