doctype html
html
    head
        include head

    body
        include header

        .container
            .page-header
                h2 #{title}

            block content

        include footer